<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ADMIN PAGE</title>
<link rel="stylesheet" type="text/css" href="adminStyle.css">
</head>
<body>
    <div class="sidebar">
        <div class="brand">Admin Dashboard</div>
        <ul class="nav-links">
        	<li><a href="adminhome">Home</a></li>
            <li><a href="newsong">Add Song</a></li>
            <li><a href="viewsongs">View Songs</a></li>
        </ul>
    </div>
    <div class="content">
        <h1>Admin Home</h1>
        <!-- Your content goes here -->
    </div>
</body>
</html>
