<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Login</title>
 <link rel="stylesheet" type="text/css" href="loginStyle.css">
</head>
<body>
	 <nav class="navbar">
        <div class="container">
            <div class="brand">TuneHub</div>
            <div class="nav-links">
                <a href="/login" class="btn">Login</a>
                <a href="/register" class="btn">Register</a>
            </div>
        </div>
    </nav>
	<form action="validate" method="post">
	<h2>USER LOGIN:</h2>
	
	<label>Email:</label><br>
	<input type="email" name="email">
	<br><br>
	
	<label>Password:</label><br>
	<input type="password" name="password"><br>
	
	<input type="submit" value="LOGIN">
	</form>

</body>
</html>