<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Add Song</title>
<link rel="stylesheet" type="text/css" href="newSongStyle.css">
</head>
<body>
    <div class="sidebar">
        <div class="brand">Admin Dashboard</div>
        <ul class="nav-links">
            <li><a href="adminhome">Home</a></li>
            <li><a href="newsong">Add Song</a></li>
            <li><a href="viewsongs">View Songs</a></li>
        </ul>
    </div>
    <div class="content">
        <h1>Add New Song</h1>
        <form action="addsong" method="post">
            <label>Song Name:</label>
            <input type="text" name="name"><br>
            <label>Song Artist:</label>
            <input type="text" name="artist"><br>
            <label>Song Genre:</label>
            <input type="text" name="genre"><br>
            <label>Song Link:</label>
            <input type="text" name="link">
            <input type="submit" value="Add Song">
        </form>
    </div>
</body>
</html>
